<div class="footer">
<div class="col-md-4">
  <ul> Created by Adam Glover 1</ul>

</div>

<div class="col-md-4">
  <ul> Created by Adam Glover a</ul>

</div>

  <div class="col-md-4">
  <ul> Created by Adam Glover </ul>

</div>
</div>