Stripe.setPublishableKey("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");

function checkCouponCode(form) {
  var couponCode = form.find('.jq-coupon-code').val();
  if (couponCode) {
    $.post('/payments/check_coupon', {coupon: couponCode})
      .done(function(xhr, data, status) {
        if (xhr['status'] == 'success') {
          $('.jq-coupon-text').html("<div class='margin-bottom-10'>"+xhr['message']+"</div>");
          var totalEl = $('.jq-total');
          var newTotal = Number(totalEl.data('amount') * (xhr['amount'] / 100)).toFixed(2);
          totalEl.html(numberToCurrency(newTotal));
        } else {
          $('.jq-coupon-text').html("<div class='margin-bottom-10'>This coupon code is incorrect</div>");
        }
      });
  }

  form.find('.jq-submit').prop('disabled', false);
};

function stripeResponseHandler(status, response) {
  var $form = $('#jq-payment-form');

  if (response.error) {
    // Show the errors on the form
    $form.find('.payment-errors').text(response.error.message).addClass('margin-bottom-10');
    $form.find('.jq-submit').prop('disabled', false);
  } else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};

$(function() {
  $('#jq-payment-form').submit(function(event) {
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('.jq-submit').prop('disabled', true);

    checkCouponCode($form);
    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
  });
});


