.navbar-default .navbar-brand {
   font-family: guardian-egyptt, georgia, serif;
 font-weight: 400;
  font-size: 30px;
 background-color: #F5F5F5; 
}

.col-md-4:nth-child(3n+1) {
  clear: left;
}       